p{
    color: black;
}
.nav-container {
    text-align: left;
    margin-left:1600px;
}
.nav-link {
    display: inline-block;
    margin-right: 10px;
}
h1{
    margin-bottom: 5px;
}
p{
    margin-top: 2px;
    margin-bottom: 2px;
}
a{
    text-decoration: none;
}
.top-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

       

.photo img{
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;

}

.photo {
    margin-left: 20px;
}